<app-header-bar></app-header-bar>
<app-menu-bar></app-menu-bar>


<!--<nz-layout>-->
<!--  <nz-header>Header</nz-header>-->
<!--  <nz-layout>-->
<!--    <nz-sider>Sider</nz-sider>-->
<!--    <nz-content>Content</nz-content>-->
<!--    <nz-sider>Sider</nz-sider>-->

<!--  </nz-layout>-->
<!--  <nz-footer>Footer</nz-footer>-->
<!--</nz-layout>-->

<nz-layout class="content-container">

<!--  TODO: Rewrite without hardcoded value here -->
  <nz-sider class="sider" [nzWidth]="350">
    <app-profile>
    </app-profile>
  </nz-sider>

  <nz-content class="events-main">
    <app-new-event></app-new-event>
    <app-event></app-event>
  </nz-content>
  <nz-sider class="sider" [nzWidth]="350">
    <app-statistics>

    </app-statistics>
  </nz-sider>
</nz-layout>


<!--<button nz-button nzType='primary'>Button</button>-->
<!-- <nz-select style="width: 120px;" [ngModel]="'lucy'" nzAllowClear nzPlaceHolder="Choose">
  <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
  <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
  <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
</nz-select> -->
