<div class="event">

  <nz-layout class="-background-none">
    <nz-sider class="post_author_photo" [nzWidth]="width">
      <img src="../../assets/img/img2.png"/>
    </nz-sider>
    <nz-content>
      <div class="post_author_name">Tanya Bakhtina</div>
      <div class="post_author_info">Software Engineer at EPAM Systems</div>
    </nz-content>
    <nz-sider class="post_create_time" [nzWidth]="width">Just now</nz-sider>
  </nz-layout>

  <nz-content class="post_text">
    Since 2009, Ultra Music Festival has consistently remained one of the premier electronic music festivals in the
    U.S., welcoming hundreds of thousands of concertgoers every year.
  </nz-content>

  <img class="post_image" src="../../assets/img/festival.jpg"/>

  <app-event-statistics></app-event-statistics>
  <app-comment-list></app-comment-list>
</div>
