<div class="profile_block">

  <div nz-row nzType="flex" nzJustify="center">
    <img class="photo" src="../../assets/img/logo.gif"/>
  </div>

  <div nz-row nzType="flex" nzJustify="center" class="name">
    Denys Kochubei
  </div>

  <div nz-row nzType="flex" nzJustify="center" class="secondary_info">
    EPAM Systems
  </div>

  <div class="followers">
    <div class="number">352</div>
    <div class="follow_name">Followers</div>
  </div>
  <div class="following">
    <div class="number">456</div>
    <div class="follow_name">Following</div>
  </div>


  <div class="social_item">
    <div nz-row nzType="flex" nzJustify="center">
      <i class="anticon anticon-dingding"></i>
      <div class="link">telegram.com/th2wd542u</div>
    </div>
  </div>

  <div class="social_item">
  <div nz-row nzType="flex" nzJustify="center">
    <i class="anticon anticon-twitter"></i>
    <div class="link">twitter.com/derz0st</div>
  </div>
  </div>
  <div class="social_item">
    <div nz-row nzType="flex" nzJustify="center">
      <i class="anticon anticon-facebook"></i>
      <div class="link">facebook.com/deni_denitoo</div>
    </div>
  </div>



</div>
