.comments_section {
  float: left;
  width: 100%;
  border-top: 1px solid rgba(0,0,0,0.07);
  margin-top: 10px;
}

.testcontent {
  width: 100%;
  background-color: #a9a8a8;
}

.post_comment {
  float: left;
  box-sizing: border-box;
  padding: 15px 0 15px 0;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.07);
}

.-background-none {
  background: transparent none;
}

